@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import url('https://fonts.googleapis.com/css?family=Stint+Ultra+Expanded');


/*
Color Scheme:
Main Green (background and logo): #113F00

Olive Green: #AF9B46
Pale Green: #DFD6A7
Yellow: #F7CE5B
Orange: #F7B05B

Pale Springs Bud: #EAEFBD
Light Moss Green: #C9E3AC
Pistachio: #90BE6D
Gamboge(orange): #EA9010
*/

body {
  background-color: #113F00;
  color: #FFFFFF;
}

div {
  border: px solid white;
}

.slideshow-appear {
  opacity: 0.01;
}
.slideshow-appear.slideshow-appear-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.slideshow-enter {
  opacity: 0.01;
}
.slideshow-enter.slideshow-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.slideshow-leave {
  opacity: 1;
}
.slideshow-leave.slideshow-leave-active {
  opacity: 0.01;
  transition: opacity 400ms ease-in;
}